<%= form_for(@waste_item) do |f| %>
  <% if @waste_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waste_item.errors.count, "error") %> prohibited this waste_item from being saved:</h2>

      <ul>
      <% @waste_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit "Trash It!", :class => "btn btn-warning btn-lg" %>
  </div>
<% end %>
