<h1>Listing waste_items</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waste_items.each do |waste_item| %>
      <tr>
        <td><%= waste_item.content %></td>
        <td><%= link_to 'Show', waste_item %></td>
        <td><%= link_to 'Edit', edit_waste_item_path(waste_item) %></td>
        <td><%= link_to 'Destroy', waste_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waste item', new_waste_item_path %>
